h1,h2,h3,p{
  font-family: Helvetica
}

h1{
  font-size: 100px;
  color: khaki;
  background-image: url("../pattern.jpeg");
  text-align: center;
}

h1,h2,.price{
  font-weight: bold;
}

.item h2{
  color: white;
  font-size: 32px;
}

.price{
  color:blue;
}

#brushes{
  background-color: mediumspringgreen;
}

#frames{
  background-color: lightcoral;
}

#paint{
  background-color: skyblue;
}
